.menu__list
  %ul
    %li.group-name グループ名
    %li.new-message messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-
    %li.group-name グループ名
    %li.new-message messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-messages-
