.chat__content-message
  %ul
    %li.posted-user-name user-name
    %li.created-at created-at
    %li.user-message チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。
    %ul
    %li.posted-user-name user-name
    %li.created-at created-at
    %li.user-message チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。チャットしてます。
